*{
	margin : 0px;
	padding : 0px;
}
body{
    	background-image: url(earth_pictures_2.jpg);
    	background-repeat:no-repeat;
}
#container{
    	width: 400px;
	height: 500px;
	background-color: White;
	position : relative;
	left: 35%;
	top : 40px;
	border-radius: 30px;
	-moz-border-radius: 30px;
}
#container h2{
	font-family: 'Ubuntu', sans-serif;
	position: relative;
	top : -20px;
	left: 110px;
}
#container img{
	width: 60px;
	height : 80px;
	position: relative;
	top : 50px;
	left: 30px;
}
#group{
	  width: 200px;
	  height : 70px;
	  font-size: 25px;
	  border-radius: 10px;
	  -moz-border-radius: 10px;
	  position : relative;
	  left: 100px;
	  top : 30px;	  
}
#container h4{
	 font-family: 'Ubuntu', sans-serif;
	 font-size : 14px;
	 position: relative;
	 top : 70px;
	 left : 20px;
}
#cgroup{
	 width : 210px;
	 height : 50px;
	 position: relative;
	 top : 90px;
	 left : 100px;
	 border-radius: 10px;
	  -moz-border-radius: 10px;
	  font-size: 18px;
}